@model EditUserViewModel
@{
    ViewData["Title"] = "EditUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card mt-5">
    <div class="card-body">
        <div class="d-md-flex">
            <div class="nav flex-column nav-pills mr-4 mb-3 mb-sm-0" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a asp-action="Index" asp-controller="Manage" asp-route-id="@Model.Id" class="nav-link" aria-controls="v-pills-home">Home</a>
                <a asp-action="CreateCollection" asp-controller="Collection" class="nav-link" aria-controls="v-pills-home">Добавить коллекцию</a>
                <a asp-action="EditUser" asp-controller="Manage" asp-route-id="@Model.Id" class="nav-link active" aria-controls="v-pills-home">Добавить коллекцию</a>

            </div>

            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="row">
                        <div class="col">
                            <form asp-action="EditUser" asp-controller="Manage">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <input type="hidden" asp-for="Id" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="LastName" class="control-label">Имя</label>
                                    <input type="text" asp-for="LastName" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="FirstName" class="control-label">Фамилия</label>
                                    <input type="text" asp-for="FirstName" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="City" class="control-label">Город</label>
                                    <input type="text" asp-for="City" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="DateBirth" class="control-label">Год рождения</label>
                                    <input type="date" asp-for="DateBirth" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Сохранить" class="btn btn-outline-secondary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>